.keterangan-dashboardpembelianadmin{
    font-weight: bold;
    font-size: 25px;
}

.data-dashboardpembelianadmin{
    display: flex;
    flex-direction: column;
}

.keterangan-dashboardpembelianadmin-content{
    margin-top: 1rem;
}

.dashboardpembelianadmin-admin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(197, 197, 197);
    width: 80%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.action-dashboardpembelianadmin-admin{
    display: flex;
    gap: 20px;
}

.action-dashboardpembelianadmin-admin a{
    text-decoration: none;
    font-weight: bold;
}

.img-barang-admin{
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* border-radius: 50%; */
}

.btn-detail{
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-verif{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;

}
