.keterangan-detailpembelian{
    font-weight: bold;
    font-size: 25px;
}

.data-detailpembelian{
    display: flex;
    flex-direction: column;
}

.keterangan-detailpembelian-content{
    margin-top: 1rem;
}

.input-detailpembelian-textarea{
    resize: none;
    height: 15rem;
    width: 80%;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    transition: 0.3s;
    border: none;
}

.input-detailpembelian{
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    transition: 0.3s;
}

.input-detailpembelian:focus,.input-detailpembelian-textarea:focus{
    outline: none;
}

.button-detailpembelian{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.dataimg-detailpembelian{
    width: 350px;
    height: 350px;
    object-fit: cover;
    /* border-radius: 50%; */
    margin-top: 2rem;
}