*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-user{

    background-color: rgb(203, 206, 206);
    color: white;
    width: 100vw;
    margin-left: -40px;
    margin-top: -20px;
    display: flex;
    /* justify-content: end; */
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 100;
    text-decoration: none;
    
}

.navcontent-user{
    display: flex;
    align-items: center;
    margin-right: 40px;
    /* justify-content: end; */
    gap: 20px;
}

.detail-keterangan-user{
    font-weight: 700;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
    /* width: 95%; */
}

.displayuser-detailpembayaran-content{
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-top: 5rem;
    overflow: scroll;
    flex-wrap: wrap;
}

.pembayaran-detailcontent-user{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    gap: 10px;
    background-color: rgba(110, 181, 192, 1);
    margin-left: 1rem;
    margin-right: 25px;
    width: 95%;
    border-radius: 10px;
    /* height: 8.5rem; */
}

.imgpembayarandetail{
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.detailpembayaran-keterangan{
    font-weight: 700;
    font-size: 18px;
    color: black;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-left: 20px;
}

.textarea{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 98%;
    height: 200px;
    resize: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.5);
    border: none;
    outline: none;
}

.btn-submit{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

