*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container1-loginadmin{
    display: flex;
    flex-direction: column;
    height: 100svh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header-loginadmin{
    background-color: rgba(6, 56, 82, 1);
    height: 50%;
    width: 100vw;
}

.footer-loginadmin{
    background-color: rgba(66, 110, 134, 1);
    height: 50%;
    width: 100vw;
}

.content-loginadmin{
    background-color: rgba(10, 7, 33, 1);
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 80%;
    width: 30%;
    align-items: center;
    border-radius: 20px;
}

.keterangan-loginadmin{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
}

.field-loginadmin{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    flex-wrap: wrap;
}

.label-loginadmin{
    color: white;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.input-loginadmin{
    width: 20rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

.input-loginadmin:focus{
    outline: none;
}

.btn-submit-loginadmin{
    background-color: rgba(255, 255, 255);
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

}

.link-loginadmin{
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.link1-loginadmin{
    font-size: 15px;
    margin-top: 10px;
}

.link2-loginadmin{
    font-size: 12px;;
}

.link2-2-loginadmin{
    color: white;
    text-decoration: none;
}

.link3-loginadmin{
    font-size: 15px;
    margin-top: 10px;
}

.link2-3-loginadmin{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.loginlain-loginadmin{
    margin-top: -10px;
}

@media screen and (min-width: 992px) {
    
    .content-loginadmin{
        width: 40%;
    }

}

@media screen and (max-width: 799px) {
    
    .content-loginadmin{
        width: 50%;
    }

}


@media screen and (max-width: 662px) {
    
    .content-loginadmin{
        width: 70%;
    }

}
@media screen and (max-width: 475px) {
    
    .content-loginadmin{
        width: 100%;
    }

}




