*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.template-content{
    margin-left: 18.5rem;
    padding-top: 6rem;
    overflow-y: scroll;
    height: 2000px;
}

/* .button{
    display: none;
} */

@media screen and (max-width : 1250px) {
    
    .templatesidebar{
        display: none;
    }

    /* .sidebar.open{
        display: block;
    } */

    .template-content{
        margin-left: 2rem;
    }

}


