*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testing-content{
    margin-left: 18.5rem;
    padding-top: 6rem;
    overflow-y: scroll;
    height: 2000px;
}

@media screen and (max-width : 1250px) {
    
    .sidebar{
        display: none;
    }

}
